:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Roboto", sans-serif;
  --default-font-family: "Montserrat", sans-serif;
}

body {
  font-family: var(--default-font-family);
}
h1 {
  font-family: var(--heading-font-family);
  font-weight: 500;
  font-style: bold;
  font-size: 48px;
}
h2 {
  font-family: var(--heading-font-family);
  font-weight: 500;
  font-style: bold;
  font-size: 28px;
}
h3 {
  font-family: var(--heading-font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

p {
  font-weight: normal;
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 0;
}

.hero p {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.btn-hero {
  background: var(--branding-color);
  border-radius: 50px;
  font-family: var(--default-font-family);
  font-weight: 500;
  font-style: bold;
  font-size: 14px;
  padding: 15px 30px;
  gap: 10px;
  margin: 0 auto;
  width: 200px;
  height: 53px;
  left: 620px;
  top: 546px;
}
.social {
  margin: 0 auto;
  text-align: center;
}
